# © 2024 Fraunhofer-Gesellschaft e.V., München
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: web_license_check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: extract node version
      uses: ./.github/actions/extract-node-version
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ env.NODE_VERSION }}
    - name: install dependencies
      run: |       
        cd web
        npm install
    - name: license check
      run: |
        cd web
        npm run license-check